<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script
  src="https://code.jquery.com/jquery-3.5.1.js"
  integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc="
  crossorigin="anonymous"></script>

  <link rel="stylesheet" href="/css/main.css">
  <script src="/js/main.js" defer></script>

  <title>우리밋의 투두리스트</title>
</head>
<body>
  <section class="main">
    <h1 id="title">우리밋의 투두리스트</h1>
    
    <!-- <form action="/insert" class="insert-form" method="POST"> -->
      <input class="text" type="text" placeholder="할 일" name="title">
      <!-- <button id="insert-btn" class="btn">추가</button>
    </form> -->
    <button id="insert-ajax-btn" class="btn">추가</button>
  </section>

  <section class="discription">
    <table class="table">
      <thead class="head">
        <tr>
          <th>#</th>
          <th>내용</th>
          <th>완료</th>
          <th>삭제</th>
        </tr>
      </thead>

      <tbody class="body">

      </tbody>
    </table>
  </section>
</body>
</html>